<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graf PLC každou sekundu</title>
    <link rel="stylesheet" href="/static/css/graf.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/graf.js"></script>
</head>
<body>
    <div class="container">
        <h1>Graf PLC každou sekundu</h1>
        <span id="procIntDisplay"></span>
        <canvas id="procIntChart"></canvas>
        <a href="history.html"><button>Graf z CSV</button></a>
        <a href="index.html"><button>Home</button></a>
        <a href="plc_graf.html"><button><p>Graf z DB</p></button></a>
    </div>
</body>
</html>
